<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Article</title>
  <link rel="stylesheet" href="../../style.css">
</head>
<body>
  <main>
    <div class="title">
      <h1>
        <% if (typeof data !== 'undefined') { %>
        Update Article
        <% } else { %>
        New Article
        <% } %>
      </h1>
    </div>

    <form action="<% if (typeof data !== 'undefined') { %>/admin/update/<%= data.id%><% } else { %>/admin/create<% } %>" method="POST">

      <input 
        class="field"
        type="text"
        name="title"
        placeholder="Article Title"
        autofocus
        <% if (typeof data !== 'undefined') { %>
          value="<%= data.title %>"
        <% } else { %>
          value=""
        <% }%>
      >

      <input
        type="datetime-local"
        name="date"
        class="field selectorDate"
        <% if (typeof date !== 'undefined') { %>
          <% if (typeof data !== 'undefined') { %>
            value="<%= data.updatedAt %>"

            <% /* %>
            min="<%= data.createdAt %>"
            max="<%= date %>"
            <% */ %>

          <% } else { %>     
            value="<%= date %>"

            <% /* %>
            min="<%= date %>"
            max="<%= date %>"
            <% */ %>
            
          <% } %>
        <% } %>
      >

      <textarea class="field" name="content" placeholder="Content"><% if (typeof data !== 'undefined') { %><%= data.content %><% } %></textarea>
      <button>
        <% if (typeof data !== 'undefined') { %>
        Update
        <% } else { %>
        Publish
        <% } %>
      </button>
      <span style="color: red">
        <% if (typeof error !== 'undefined') { %>
          <%= error %>
        <% } %>
      </span>
    </form>
  </main>
</body>
</html>